@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");


:root {
  --primary-color: #757a82;
  --secondary-color: rgb(65, 61, 61);
  --background-color: #bec9dc;
  --text-color: #ffffff;
  --link-color: white;
  --link-hover-color: rgb(225, 218, 218);
  --scrollbar-track-color: #f1f1f1;
  --scrollbar-thumb-color: #888;
  --scrollbar-thumb-hover-color: #555;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  background: var(--background-color);
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color); 
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color); 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover-color); 
  }

  h2 {
    margin-bottom: 15px;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #333;
  color: #fff;
}


.boxes .container {
  display: flex;
  justify-content: space-between;
}


.list-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.box {
  overflow-y: auto;
  flex: 1;
  background: var(--secondary-color);
  color: #fff;
  min-height: 400px;
  max-height: 600px;
  min-width: 400;
  max-width: 600px;
  border-radius: 10px;
  margin: 20px 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  padding: 15px 20px;
}

.box i {
  margin-right: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

